html {
  background: #fadf1b;
}
body {
  background: none;
  font-family: arial,sans-serif;
}

.navbar {
  min-height: 20px;
  border-style: double;
  border-width: 3px 0px;
  border-color: #ffee71;
  margin-bottom: 10px;
}
.navbar-brand {
  padding: 8px;
  height: 26px;
}
.navbar-nav > li > a {
  padding: 8px;
}
.navbar-toggle {
  padding: 2px;
}
.banner .logo {
  background: url("../images/logo.png");
  height: 49px;
  width: 266px;
  margin: auto;
  margin-top: 10px;
}

.banner .slogan {
  margin: auto;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 10px;
}

.topmenu {
  border-style: double;
  border-width: 3px 0px;
  border-color: #ffee71;
  height: 36px;
}


.bg-faded {
  background: none;
}

.navbar-toggler {
  padding: 0.2rem 0.75rem;
}

.navbar-toggler-icon{
  height: 20px;
}

.div-container{
  border-radius: 5px;
  background: #ffee71;
  padding: 10px;
}

.div-container .head_title {
  color: #666;
  font-size: 22px;
  border-bottom: solid 1px #eee;
  margin: 0px 5px 10px 5px;
  display: block;
  float: left;
  width: 100%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
